@keyframes nav-slideDown{
	from{top:-80px;}
	to{top:0px;}
}
@keyframes icon-slideDown{
	from{top:-70px;}
	to{top:5px;}
}
@keyframes content-slideIn{
	from{margin-left:-100%;}
	to{margin-left:9%;}
}
#nav{
	animation-name:nav-slideDown;
	animation-duration:.75s;
}
#icon{
	animation-name:icon-slideDown;
	animation-duration:1s;
}
#content{
	animation-name:content-slideIn;
	animation-duration:.75s;
}